<!doctype html>
<html>
<head>
  <title>Make your selections</title>
</head>
<body>
    Hi {{ person }}!
    <form action="/madlib">
    	Enter a name:
    	<input type="text" name="person_name"><br>
    	Select a color:
    	<select name="color">
            {% for color in colors %}
        		<option value={{ color }}>{{ color }}</option>
            {% endfor %}
    	</select><br>
    	Enter a noun:
    	<input type="text" name="noun"><br>
    	Select an adjective:
    	<select name="adjective">
            {% for adjective in adjectives %}
                <option value={{ adjective }}>{{ adjective }}</option>
            {% endfor %}
    	</select><br>
        Select animals:
            {% for animal in animals %}
                <input type="checkbox" name="animals" value={{animal}}>{{animal}}
            {% endfor %}

        <br>
    	<input type="submit">
    </form>
</body>
</html>